body *{
    box-sizing: border-box;
}
div#container{
    margin: auto;
    padding: 20px;
    width: 800px;
    height: 300px;
    border: 1px solid;
    
}
button{
    width: 60px;
    height: 30px;
    border: 1px solid;
    border-radius: 6px;
}
button:hover{
    background-color: antiquewhite;
    cursor: pointer;
}
h3{
    font-size: 16px;
}
